*
{
  box-sizing: border-box;
}

body
{
  padding-top: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

.appContainer
{
    margin: 0 auto;
    max-width: 960px;
}

.btn
{
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  border-radius: 0.25em;
  text-decoration: none;
  font-size: 1.0rem;
  color: #2E4057;
}

.btn:hover
{
   border-color: #787878;
}

.btn:active
{
  background: #eeeeee;
  color: #262626;
  box-shadow: none;
}

.btn.success
{
  background-color: #8BC34A;
  border-color: #689F38;
}

.btn.danger
{
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn.progress
{
  background-color: #FFF9C4;
  border-color: #f9e85a;
  color: black;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}

.animate-leave {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
