<!-- This cannot work until siren endpoint will give me more informations
<form>
  <formly-form model="ctrl.model" fields="ctrl.fields"></formly-form>
</form>
-->

<form>
  <input type="input" ng-model="ctrl.text" placeholder="Type a question here">
  <div ng-repeat="choice in ctrl.choices track by $index">
    <input type="input" ng-model="ctrl.choices[$index]" placeholder="Type a choice here">
    <span ng-show="$last == true" ng-click="ctrl.choices.push('')">+</span>
  </div>

  <status-button class="btn" ng-click="ctrl.createPoll()" promise="ctrl.promise">Create</status-button>
</form>
