.poll
{
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.poll ul
{
  padding: 0 20px;
}

.poll li
{
  list-style: none;
  margin-bottom: 5px;
  padding: 5px 0;
}

.poll li+li
{
  border-top: 1px dashed #e3e3e3;
  margin-top: 5px;
}

.poll h4, .poll h5
{
  text-align: center;
}

.poll h4
{
  margin: 10px;
}

.poll button
{
  text-transform: capitalize;
}

.poll .omnibarContainer
{
  overflow: hidden;
  padding-right: .5em;
}

.poll .btn
{
  float: right;
  padding: .37em .5em;
}

.poll .footer
{
  margin-bottom: 50px;
}

@keyframes wobble {
  0% {
    transform: none;
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    transform: none;
  }
}

.poll.wobble { animation: wobble 1.5s both ease-in; z-index: 8888; }


