<div class="poll" ng-class="{wobble: ctrl.hasError}">
  <h4>{{::ctrl.poll.question}}</h4>
  <h5>Published at {{::ctrl.poll.published_at | date: short}}</h5>
  <ul>
    <li ng-repeat="choice in ::ctrl.poll.choices">
      <status-button class="btn" ng-click="ctrl.votePoll(choice)" promise="choice.promise" options="ctrl.buttonOptions">Vote</status-button>
      <div class="omnibarContainer">
        <isteven-omni-bar current-value="choice.votes" max-value="ctrl.poll.total">
          {{::choice.text}}: {{choice.votes}}
        </isteven-omni-bar>
      </div>
    </li>
    <div class="footer">
      <button class="btn" ng-repeat="action in ::ctrl.poll.actions" ng-click="ctrl.executeAction(action)">
        {{::action.name}}
      </button>
    </div>
  </ul>
</div>
