.flexBox
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pollsList .pollsListHeader
{
  width: 100%;
  text-align: center;
  margin: 5px;
}

.pollsList .poll
{
  width: 30%;
  min-width: 300px;
  margin-bottom: 5%;
}

.pollsList a
{
  border: 1px solid #e6e6e6;
  border-radius: 0.25em;
  text-decoration: none;
  padding: .6em .8em;
  font-size: 1.0rem;
  color: #2E4057;
}

.pollsList a:hover
{
   background-color: #f2f2f2;
}

.pollsList a:last-of-type:after
{
   content: ' \00bb'
}

.pollsList a:first-of-type:before
{
   content: '\00ab '
}
