.pollsList
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pollsList > .pollsListHeader
{
  width: 100%;
  text-align: center;
  margin: 5px;
}

.pollsList .poll
{
  width: 300px;
  margin-bottom: 5%;
}
