.flexBox
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pollsList .pollsListHeader
{
  width: 100%;
  text-align: center;
  margin: 5px;
}

.pollsList .poll
{
  width: 30%;
  min-width: 300px;
  margin-bottom: 5%;
}

.pollsList .btn
{
  padding: .6em .8em;
}

.pollsList a
{
  text-transform: capitalize;
}

.pollsList a:last-of-type:after
{
   content: '  \00bb'
}

.pollsList a:first-of-type:before
{
   content: '\00ab  '
}
